@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300&display=swap');

*, *::before, *::after {
  box-sizing: border-box;
  font-family: 'Outfit', sans-serif;
  font-weight: 800;
}

body {
  padding:0%; 
  margin:0%;
  background: darkslategray;
}

.calculator-grid {
  display: grid;
  justify-content: center;
  align-content: center;
  min-height: 100vh;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: minmax(120px, auto) repeat(5, 100px); 
}

.calculator-grid > button {
  cursor: pointer;
  font-size: 2rem;
  outline: none;
  background: rgba(255, 255, 255, .75);
  border: 2px solid darkslategray;
  border-radius: 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.calculator-grid > button:active {

  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.span-two {
  grid-column: span 2;
} 

.output {
  grid-column: 1 / -1;
  background-color:rgba(0, 0, 0, .75);
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  padding: 10px;
  flex-direction: column;
  word-wrap: break-word;
  word-break: break-all;
  border-radius: 5px;
}

.output .previous-operand {
  color: rgba(255, 255, 255, .75);
  font-size: 1.5rem;
}

.output .current-operand {
  color: rgba(255, 255, 255);
  font-size: 3rem;
}

button.lighter {
  background: rgba(255, 255, 255, .90);
}

button:hover{
  opacity: .75;
}

@media only screen and (max-width: 450px) {
  .calculator-grid {
    grid-template-columns: repeat(4, 75px);
    grid-template-rows: minmax(120px, auto) repeat(5, 75px); 
  }
}